# exclude everything except directory

.DS_Store
.amazonq
.cursor
.git
.vscode
.lingma
.grok
.phpunit.cache
GEMINI.md
composer.lock
vendor
dev.php
dev.js
node_modules
package.json
package-lock.json
nodemon.json
scripts
source/*
!source/data/
source/data/ai.md
coverage
features
